<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RomiBlue</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Romi<span style="color: blue">Blue</span></h1>

    <div class="container text-start">
        <div class="row">
            <div class="col fs-2">Light</div>
            <div class="col">
                <button id="light-on" class="btn btn-light">On</button>
                <button id="light-off" class="btn btn-secondary">Off</button>
            </div>
            <div class="col-9">&nbsp;</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#light-on").click(function() {
                $.post("light/on");
            });
            $("#light-off").click(function() {
                $.post("light/off");
            });
        });
    </script>
</body>
</html>